/* You can add global styles to this file, and also import other style files */

@import "./theme.scss";

@mixin group($r,$g,$b) {
  background: #333 linear-gradient(315deg, rgba($r, $g, $b, .7) 20px, rgba($r, $g, $b, 1) 30px, rgba($r, $g, $b, 1) 100%);
}

@mixin materialIcon($size: 20px, $lineHeight: 35px, $padding: .5em) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $size;
  /* Preferred icon size */
  display: inline-block;
  line-height: $lineHeight;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: bottom;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-left: $padding;
  padding-right: $padding;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin cornered($left: true, $right: true, $radius: 15px, $invert: false) {
  position: relative;
  @if $left {
    &:before {
      position:absolute; 
      z-index: 100;
      top:-1px; 
      content:'';
      border-top: $radius solid white;
      @if $invert {
        right:-1px; 
        border-left: $radius solid transparent;
      } @else {
        left:-1px; 
        border-right: $radius solid transparent;
      }
    }
  }

  @if $right {
    &:after {
      position:absolute; 
      z-index: 100;
      bottom:-1px;
      content:'';
      border-bottom: $radius solid white;
      @if $invert {
        left:-1px; 
        border-right: $radius solid transparent;
      } @else {
        right:-1px; 
        border-left: $radius solid transparent;
      }
    }
  }
}


body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

p,
li {
  color: #000;
  line-height: 1.5em;
}

.documentation {
  min-width: 800px;
  padding: 0 1em;
  line-height: 1.25em;
  word-break: break-word;
  padding-bottom: 1em;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    tr {
      th {
        color: #333;
        font-family: "Julius Sans One", sans-serif;
        font-weight: normal;
        border-bottom: 1px solid #333;
        padding-left: .5rem;
        padding-right: .5rem;
      } 
      td,th {
        vertical-align: middle;
      }
      th:not(:first-of-type), td:not(:first-of-type) {
        text-align: center;
        min-width: 6rem;
      }
      td:not(:first-of-type) {
        border: 1px solid #eee;
      }
      td:first-of-type {
        border-bottom: 1px solid #eee;
      }
      td:not(:first-of-type,:empty) {
        color: transparent;
        &::after {
          padding: .5rem;
          color: green;
          font-weight: bold;
          content: 'circle'; 
          @include materialIcon($size: 1.2em, $lineHeight:1em, $padding: 0px);
        }
      }
    }
  }

  img {
    display: block;
    margin: 1em 0;
  }

  &:first-child {
    padding-top: 1em;
  }

  .documentation {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    line-height: 2em;
    border-bottom: 1px solid #ccc;
    small {
      display: inline-block;
      font-size: 1rem;
    }
  }

  h2,
  h3,
  h4 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: normal;
    color: #444;
  }

  h2 {
    margin-top: .7em;
    border-bottom: 1px solid #ddd;
  }

  h3,
  h4 {
    margin-top: .7em;
    font-size: 18pt;
    color: #333;
  }

  h4 {
    font-size: 16pt;
  }

  strong {
    font-weight: 500;
  }

  ol,
  ul {
    margin-top: 0;
  }

  a[class$="-link"] {
    display: inline-block;

    font-size: 1em;
    // @include group(120,120,120);
    font-family: "Source Sans Pro", sans-serif;      
    padding: 0 .25em;
  }

  a[class$="-link"] {
    padding-left: .1em;
    text-decoration: none;
    font-weight: normal;
    color: #333;
    opacity: 1;
    transition: .5s text-decoration;
    padding-left: 0;

    &:hover  {
      text-decoration: underline;
    }

    &.module-link  {
      &::after { 
        content: 'view_module'; 
        color: rgba(0,128,0,.7);
      }  
      color: rgba(0,128,0,1);
      text-shadow: 3px 3px 5px rgba(100,100,100,.3);
      // background: rgba(0, 128, 0, .2);
    }

    &.source-link  {
      &::after { 
        content: 'text_snippet'; 
        color: rgba(255,0,0,.7);  
      }  
      color: rgba(255,0,0,1);
      text-shadow: 3px 3px 5px rgba(100,100,100,.3);
      // background: rgba(255, 0, 0, .2);
    }

    &.external-link  {
      &::after { 
        content: 'exit_to_app'; 
        color: rgba(50,100,180,.5);
      }  
      color: rgba(50,100,180, 1);
      text-shadow: 3px 3px 5px rgba(100,100,100,.3);
      // background: rgba(0, 0, 255, .2);
    }

    &::after {
      @include materialIcon($size: 1.2em, $lineHeight:1em, $padding: 0px);
      vertical-align: middle;
      color: white;
      line-height: 1.25rem;
    }            
  }

  figure {
    @include cornered($radius: 20px, $invert: true);
    padding: 0px;
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    
    cite {
      font-size: 1rem;
      line-height: 1.3rem;
      text-decoration: none;
      font-style: normal;
      margin: 0px;
      padding: 0px;
      a {
        margin-right: .5em;
        color: white;
        text-decoration: none;
      }
    }

    figcaption {
      display: block;
      position: relative;
      font-size: 20px;
      line-height: 35px;
      font-family: "Source Sans Pro", sans-serif;
      margin: 0px;
      padding: 0px;
      color: white;

      cite, .copy {
        position: absolute;
        right: 10px;
        top: 0px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0);
        font-size: .8em;
        line-height: 1.2em;
        margin: .4em 0;
        &:hover {
          border-bottom: 1px solid #fff;
        }
      }
    
      &::before {
        @include materialIcon;
      }            

      &.install::before { content: 'playlist_add'; }
      &.terminal::before { content: 'call_to_action'; }
      &.code::before { content: 'code'; }
      &.config::before { content: 'settings'; }

      
      &.install {
        background-color: desaturate(darken(rgba(218, 165, 32, 1), 5%), 0%);
      }
    
      &.terminal {
        background-color: desaturate(rgba(102, 102, 102, 1), 0%);
      }
    
      &.code {
        background-color: desaturate(darken(rgba(0, 255, 0, 1), 20%), 0%);
      }
    
      &.config {
        background-color: desaturate(darken(rgba(0, 0, 255, 1), 20%), 40%);
      }
    }

    pre {
      margin:0;
    }

    code {
      line-height: 1.2;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      margin: .2em;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      font-weight: normal;

      -moz-tab-size: 2;
      -o-tab-size: 2;
      tab-size: 2;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      display: block;

      font-size: 12pt;
      padding: 1.5em;
      background: #ccc;
      color: #333;
      // box-shadow: 1px 1px .3em -.1em black;

      margin: 0;

      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAHOSURBVCjPJdDBASMpDATAtWCMWkwem39sa7qFB/A9rkKo119XJ05hMFZljBg3PbGr3JDBW2WBbRV2hm76dJbHZQfsH6hsnKoYEJ6enqF6wl6n0+WqTyXoxL4ez1CoLEtbPpGdl1wu34X110ZnsJirrEYfIL4+8SvCsOPDBZmguntCrvdspzCIrD+oZbMQtrEppk/P+sSIxKqM9DTFU7+Qj5ATvPZNX4XByDCsS57IWMFQqDz/j4BYtiubfGK9Ts/+QdZdRhAZq1gZISjOe9rjIwhVBT3xFJnAEJ7XP+g6riAUGcSqGYbs9GXqctpx+nC5+q6CTDHiWzfoiV1mTGSbofoEYWCksz4hrFe6PH02Od8rZBty3Xpv7JqeyDiulj5su71+nT4ir1PzFoRVtmdMpG1L+wa7MMrwgfRVs5ygz8jLYpTVP6FIEIpdCF3fzkaXCVme+9PYEvSnZrCP6xvZ082F/R5IT8/IssD4F8vkH8gydh0uZCQy8lpgrDox+3DDuhLzzliebbRRHpxLGD76sXMN53u0XXdLCLxWpevO2MVsBGP6Kax/oFDnRWSXL5MpGMTv+oCv09kJQp2+r4QFwVjl09VlCwMT6fRdCf4HTj6GcxpsVvEAAAAASUVORK5CYII=');
      background-repeat: repeat;

      &[class*="language-"] {
        overflow-x: auto;
        font-size: 13pt;

        background: rgba(0, 0, 0, .8);
        color: hsl(0, 0%, 95%);

        &.inline {
          background: rgba(0, 0, 0, .7);
          color: white;
        }

        .token {

          &.class-name,
          &.type {
            color: hsl(195, 53%, 79%);
          }


          &.meta {
            color: hsl(39, 100%, 50%);
          }

          &.comment,
          &.prolog,
          &.doctype,
          &.cdata {
            color: hsl(30, 50%, 50%);

            &>* {
              color: hsl(30, 50%, 50%) !important;
            }
          }

          &.punctuation {
            opacity: .7;
          }

          &.function {
            color: hsl(55, 87%, 80%);
          }

          &.property,
          &.tag,
          &.boolean,
          &.number,
          &.constant,
          &.symbol {
            color: hsl(350, 60%, 70%);
          }

          &.selector,
          &.attr-name,
          &.string,
          &.char,
          &.builtin,
          &.inserted {
            color: hsl(75, 80%, 60%);
          }

          &.operator,
          &.entity,
          &.url,
          .language-css &.string,
          .style &.string,
          &.variable {
            color: hsl(40, 90%, 60%);
          }

          &.atrule,
          &.attr-value,
          &.keyword {
            color: hsl(350, 60%, 70%);
          }

          &.regex,
          &.important {
            color: hsl(120, 93%, 75%);
          }

          &.important,
          &.bold {
            font-weight: bold;
          }

          &.italic {
            font-style: italic;
          }

          &.entity {
            cursor: help;
          }

          &.deleted {
            color: hsl(0, 100%, 50%);
          }
        }
      }

      &.decorator {
        background-color: orange;
        color: white;
      }

      &.path {
        background-color: darken(pink, 30%);
        color: white;
      }

      &.inline {
        font-family: "Source Sans Pro", sans-serif;
        min-width: 0px;
        font-size: 14pt;
        overflow: visible;
        display: inline-block;
        padding: .2em .4em;
      }
    }
  }

  code.item {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #333;
    text-shadow: 3px 3px 5px rgba(100,100,100,.3);
  }
  
  ul {
    list-style-type: circle;

    li {
      line-height: 1.5em;
    }
  }
}

.toc {
  grid-area: nav;
  margin-left: 50px;
  width: 250px;
  min-width: 250px;
  overflow-x: hidden;
  background-color: none;
  text-align: right;
  position: fixed;

  .inner {
    padding-top: 1.8em;
    width: 250px;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  h3 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: normal;
    color: #444;
    font-size: 15pt;
    margin-bottom: 0;
  }

  ul+h3 {
    margin-top: 1em;
  }


  ul {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style-type: none;

    li {
      font-size: 12pt;
      padding: .2em 0;
      width: 100%;
      display: block;

      &.active>a {
        border-color: lighten(green, 10%);
      }


      a {
        transition: border-color .5s;

        &:hover {
          border-color: green;
        }

        color: black;
        text-decoration: none;
        padding-right: .5em;
        border-right: 2px solid #aaa;
      }

      ul {
        background-color: #f8f8f8;

        li {
          font-size: .8em;

          &.active a {
            border-color: lighten(red, 10%);
          }
        }
      }
    }
  }
}


@media (max-width: 700px) {
  html body app-root {
    .documentation {
      max-width: 700px !important;
      min-width: 300px !important;
      display: block !important;
      padding: .25em 1em;

      pre code {
        font-size: 10pt;
      }
    }

    .wrapper>* {
      display: block !important;
    }

    .toc {
      display: block !important;
      width: 100%;
      padding: 0;
      margin: 0;
      position: static;

      .inner {
        width: 100%;
        padding: .25em 1em;
        box-sizing: border-box;
        margin: 0;
        text-align: left;

        ul {
          width: 100%;

          li {
            width: auto;
            display: inline-block;
            margin-right: 5px;

            &.active ul {
              display: inline !important;
            }
          }
        }
      }
    }
  }
}