@import '~@angular/material/theming';

$general-typography: mat-typography-config($font-family: '"Source Sans Pro", sans-serif',
$display-3: mat-typography-level(40px, 24px, 400),
$headline: mat-typography-level(35px, 24px, 400),
$title: mat-typography-level(28px, 24px, 400),
$body-1: mat-typography-level(20px, 20px, 300),
$body-2: mat-typography-level(20px, 20px, 600));
//  $body-2:        mat-typography-level(14px, 24px, 600)  
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-green);
$app-accent: mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

body.mat-typography {

  .mat-display-1,
  .mat-display-2,
  .mat-display-3,
  .mat-display-4,
  h1,
  h2,
  [mat-button] {
    font-weight: normal;
    font-family: 'Julius Sans One', sans-serif;
  }
}

p {
  line-height: 1.25em;
  word-break: break-word;
}