ROOT=`pwd`
while [[ ! -e "$ROOT/lerna.json" ]]; do 
  ROOT=`dirname $ROOT`
done
export NODE_PRESERVE_SYMLINKS=1
export PATH="$PATH:$ROOT/bin-dist"
export TRV_DOC_BRANCH=master
export TRV_DEV_ROOT=$ROOT
export TRV_DEV=$ROOT/module
export TRV_REQUIRES=$ROOT/module/boot/src/internal/dev/register.js