ROOT=`pwd`
while [[ ! -e ".git" ]]; do 
  ROOT=`dirname $ROOT`
done
export PATH="$PATH:$ROOT/.bin"
export NODE_PATH="$NODE_PATH:$ROOT/.bin"

export TRV_DOC_BRANCH=main

export TRV_GLOBAL_ROOT=`pwd`/module
export TRV_GLOBAL_MODS='@travetto/cli,@travetto/compiler:compile,@travetto/test:test'