# Top Level
bin-dist/
lerna-debug.log
*.lerna_backup

# Common
node_modules/
.trv*
npm-debug.log
.DS_STORE

# VSCode
.vscode/
*.vsix
out/

# OpenAPI
api-client/
openapi.yml
openapi.json

# Pack
dist/

# Email
*.compiled.*
dev.yml
email-dev-context.json

# Assets
**/test-support/resources/logo

# General
related/generator-app/**/.eslintrc.js

# Folder Specific
module/*/LICENSE
related/*/LICENSE
module/*/*.tgz