# Common Files
npm-debug.log
.DS_STORE
Thumbs.db
*.tgz
*.vsix

# Node/Framework
node_modules/
.trv/
LICENSE
!/LICENSE

# OpenAPI
api-client/
openapi.yml
openapi.json

# VSCode
related/*/out
related/*/.vscode
!related/vscode-plugin/.vscode

# Pack
dist/

# Email
*.compiled.*
dev.yml
local.yml
email-dev-context.json

# Assets
**/support/fixtures/logo

# Specific
module/scaffold/**/eslintrc.json
**/doc-exec/tsconfig.json