.vscode/
.trv*
node_modules/
temp/
build/
api-client/
sample/dummy/
.bin/
dist/
bin-dist/
out/
*.vsix
openapi.yml
openapi.json

.DS_STORE
*.compiled.*
dev.yml
README.html
lerna-debug.log
*.lerna_backup
npm-debug.log
email-dev-context.json

**/test-support/resources/logo

related/generator-app/.eslintrc.js