.vscode/**
.vscode-test/**
out/test/**
test/**
src-ts/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules/typescript/**
node_modules/source-map*/**
node_modules/source-map-support/**
node_modules/buffer-from/**
**/node_modules/@types/**
node_modules/@travetto/boot/**/*.d.ts
node_modules/@travetto/boot/tsconfig.json
node_modules/@travetto/boot/{README.md,LICENSE}
node_modules/@travetto/boot/bin/**
.trv_*/
images/*.gif
.eslintignore
README.js
node_modules/**/*.d.ts
node_modules/**/*.html
