.vscode/
.vscode-test/
src-ts/
*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.trv_*/
src/
out/node_modules/source-map/dist/*
out/node_modules/source-map/dist/**/*.d.ts
out/node_modules/source-map-support/browser*
out/node_modules/**/*.html
out/node_modules/**/*.md
images/*.gif
.eslintignore
DOC.ts
DOC.html