:host {
  margin: 0 auto;
  display: block;
  max-width: 800px !important;

  .documentation {
    max-width: 800px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    article+article {
      border-top: 1px solid #ddd;
      padding-top: 2em;
    }

    article {
      display: grid;
      padding: 0;
      margin: 0;
      grid-template-rows: auto auto 1fr;

      .meta {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 1rem;
        color: #333;
        font-size: 12pt;
        line-height: 1em;
        font-weight: normal;
        margin-bottom: 1em;

        .date {
          grid-column: 2;
        }

        .byline {
          grid-column: 3;
        }
      }

      h2 {
        text-align: right;
        border-bottom: none;
        font-size: 3rem;
        line-height: 1em;
        margin: 0;
        padding: 0;
      }

      & ::ng-deep {
        div {
          color: #333;
        }

        .content h2:first-child,
        .content h3:first-child {
          margin-top: 0;
        }

        h2 {
          text-shadow: 3px 3px 5px rgba(19, 45, 20, 0.5);
          color: black;
          align-items: baseline;
          font-size: 2.5rem;
        }

        h3 {
          font-size: 2.1rem;
        }

        h4 {
          font-size: 1.5rem;
        }

        h3,
        h4 {
          color: rgba(76, 175, 80, 1);
          filter: saturate(120%);
          margin-bottom: 0.25rem;
          font-weight: 400;

          span,
          b {
            font-weight: 400;
          }
        }

        code {
          font-size: 0.9em;
        }

        ul.notes {
          font-size: 1rem;
          height: 1.5em;
          overflow: hidden;
          display: block;

          &::before {
            text-align: right;
            text-decoration: underline;
            display: block;
            content: "Show notes";
          }

          &:hover {
            height: auto;
          }
        }

        .content {
          line-height: 1.5em;
          font-weight: 300;

          .centered {
            text-align: center;
          }
        }
      }
    }
  }
}