:host {
  margin: 0 auto;
  display: block;
  max-width: 800px !important;

  .documentation {
    max-width: 800px;
    min-width: 0px;


    article {
      display: block;
      padding: 0;
      margin: 0;

      & ::ng-deep {
        div {
          color: #333;
        }

        h2 {
          color: black;
          font-size: 2.5rem;
        }

        h3 {
          font-size: 2.1rem;
          background: rgba(76, 175, 80, 1);
          color: white;
        }
  
        h4 {
          font-size: 1.5rem;
          color: black;
          background: rgba(220,220, 220, 1);
        }

        h3, h4 {
          padding: .25em;
        }

        code {
          font-size: .9em;
        }
        ul.notes {
          font-size: 1rem;
          height: 1.5em;
          overflow: hidden;
          display: block;
          &::before {
            text-align: right;
            text-decoration: underline;
            display: block;
            content: 'Show notes';
          }
          &:hover {
            height: auto;
          }
        }

        .content {
          line-height: 1.5em;
          font-weight: 300;

          .centered {
            text-align: center;
          }
        }
      }

      h2 small {
        line-height: 12pt;
        display: inline-block;
        font-size: 12pt;
        font-weight: normal;
      }

      .byline {
        color: #333;
        font-size: 12pt;
        margin-bottom: 1em;
      }
    }
  }
}