:host {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 300px 1fr;
  grid-column-gap: 10px;
}

@media (max-width: 700px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
    max-width: 700px;
    overflow: auto;
  }
}

.documentation {
  grid-area: content;
  padding: 1em;
}

.documentation-links {
  grid-area: nav;
}