:host {
  display: block;
  position: relative;

  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  line-height: 35px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0;
  color: white;

  &::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 35px;
    text-transform: none;
    letter-spacing: normal;
    vertical-align: bottom;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    padding-left: .5em;
    margin-right: .5em;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  &.install {
    &::before {
      content: 'playlist_add';
    }

    background-color: desaturate(darken(rgba(218, 165, 32, 1), 5%), 0%);
  }

  &.terminal {
    &::before {
      content: 'call_to_action';
    }

    background-color: desaturate(rgba(102, 102, 102, 1), 0%);
  }

  &.code {
    &::before {
      content: 'code';
    }

    background-color: desaturate(darken(rgba(0, 255, 0, 1), 20%), 0%);
  }

  &.config {
    &::before {
      content: 'settings';
    }

    background-color: desaturate(darken(rgba(0, 0, 255, 1), 20%), 40%);
  } 

  .copy {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0);
    font-size: .8em;
    line-height: 1.2em;
    margin: .4em 0;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}