.full        { grid-column: 1/span 6; }
.left-half   { grid-column: 1/span 3; }
.right-half  { grid-column: 4/span 3; }
.left-third  { grid-column: 1/span 2; }
.mid-third   { grid-column: 3/span 2; }
.right-third { grid-column: 5/span 2; }

.vertical { 
  grid-row: 1/span 5; 
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  min-width: unset;
}

@mixin group($r,$g,$b) {
  background:linear-gradient(135deg, rgba($r*.85, $g*.85, $b*.85, 1) 0%, rgba($r*1.15, $g*1.15, $b*1.15, 1) 100%);
    * { color: white !important; }
}

.group-core     { @include group(190, 102, 102); }
.group-lib      { @include group(123, 156, 205); }
.group-tools    { @include group(242, 185, 180); }
.group-system   { @include group(138, 138, 138); }
.group-system-2 { @include group(108, 108, 108); }
.group-common   { @include group(76,  175,  80); }

.modules {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 5;
  
  .app           { grid-row: 1;     @extend .full;        @extend .group-common;   }
  .tools         { grid-row: 2;     @extend .left-third;  @extend .group-lib;      }
  .auth          { grid-row: 2;     @extend .mid-third;   @extend .group-lib;      }
  .email         { grid-row: 2;     @extend .right-third; @extend .group-lib;      }
  .model         { grid-row: 3;     @extend .left-half;   @extend .group-core;     }
  .rest          { grid-row: 3;     @extend .right-half;  @extend .group-core;     }
  .core          { grid-row: 4;     @extend .full;        @extend .group-system-2  }  
  .foundation    { grid-row: 5;     @extend .full;        @extend .group-system;   }  
}