.modules {
  max-width: 1200px;
  grid-gap: .5em;
  margin: 1em 0;

  >div {
    display: block;
    text-align: center;
    min-width: 80px;
    hyphens: auto;
    position: relative;

    &:before {
      position:absolute; 
      left:-1px; 
      top:-1px; 
      content:'';
      border-top: 15px solid white;
      border-right: 15px solid transparent;
    }
    
    &:after {
      position:absolute; 
      right:-1px; 
      bottom:-1px;
      content:'';
      border-bottom: 15px solid white;
      border-left: 15px solid transparent;
    }

    a, .title {
      color: #333;
      font-size: 20pt;
      line-height: 2em;
      text-decoration: none;
      display: block;
    }
    
    ul {
      margin: 0;
      padding: 0;
    }

    .sub {
      display: inline-block;
      padding-right: 1em;

      & a {
        font-size: .9em;
      }

      &:last-of-type {
        padding-right: 0em;
      }
    }

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}