<div [attr.href]="href">
  <div class="toolbar">
    <img class="logo" src="/assets/logo-inverted.png">
    <span class="name"><a [routerLink]="'/'">Travetto</a></span>
    <span class="spacer"></span>
    <div class="actions">
      <a [routerLink]="'/landing'" href="/">Home</a>
      <a [routerLink]="'/guide'" href="/guide">Getting Started</a>
      <a [routerLink]="'/docs'" href="/docs">Documentation</a>
      <a [routerLink]="'/blog'" href="/blog">Blog</a>
      <a href="https://github.com/travetto">Github</a>
    </div>
  </div>

  <div class="main-module">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="copyright">ArcSine Technologies &copy; 2025</div>
    <div class="spacer"></div>
    <div class="social">
      <span>Connect on</span>
      <a href="https://twitter.com/travetto_ts" target="_blank">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/x.svg" />
      </a>
      <a href="https://github.com/travetto" target="_blank">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
      </a>
    </div>
  </footer>
</div>