:host {
  --header-height: 64px;
  --footer-height: 70px;
  --small-header-height: 40px;

  display: block;
  height: 100%;

  .toolbar {
    background: rgba(76, 175, 80, 1);
  }

  [href="landing"] {
    .toolbar {
      background: linear-gradient(180deg, rgba(76, 175, 80, 1) 0%, rgba(76, 175, 80, 0.8) 100%) !important;
    }

    .main-module ::ng-deep > * {
      padding-top: 0px;
    }
  }
}

.main-module ::ng-deep > * {
  padding-top: var(--header-height);
}

.main-module ::ng-deep > * .toc {
  top: var(--header-height);
}

.toolbar {
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100dvw;
  box-sizing: border-box;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 0.9;
  z-index: 10000;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;

  img.logo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  span.name {
    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;

    a {
      text-decoration: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      font-weight: normal;
    }
  }

  span.spacer {
    flex: 1 1 auto;
  }

  a {
    color: white;
    font-weight: bold;
  }

  .actions {
    display: flex;
    gap: 0rem;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 0.9rem;
      transition: 0.25s ease-in-out all;
      padding: 0.5rem 1rem;

      &:hover {
        background: rgba(100, 100, 100, 0.1);
      }
    }
  }
}

footer {
  display: flex;
  height: var(--footer-height);
  min-height: var(--footer-height);
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/landing/bg.jpg") center;
  color: #eee;

  div {
    margin-top: calc(var(--footer-height) / 4);
  }

  .copyright {
    padding-left: 1em;
    line-height: calc(var(--footer-height) / 2);
    height: calc(var(--footer-height) / 2);
  }

  .spacer {
    flex: 1 1 0;
  }

  .social {
    > * {
      line-height: calc(var(--footer-height) / 2);
      height: calc(var(--footer-height) / 2);
      display: inline-block;
      margin-right: 0.5em;
    }

    a {
      width: calc(var(--footer-height) / 2);

      img {
        filter: invert(100%);
        vertical-align: middle;
      }
    }
  }
}

@media (min-width: 700px) {
  :host {
    .main-module ::ng-deep > * {
      min-height: calc(100vh - (var(--footer-height) + var(--header-height)));

      p {
        margin-bottom: 0;
        padding-bottom: 12px;
      }
    }

    footer {
      height: var(--footer-height);
      min-height: var(--footer-height);
    }
  }
}

@media (max-width: 700px) {
  :host {
    .toolbar {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto 1fr auto;
      padding: 0px;
      height: var(--small-header-height);
      padding-left: 2px;

      a {
        min-width: 0;
        font-size: 15px;
        height: var(--small-header-height);
        line-height: var(--small-header-height);

        &[href="/landing"] {
          display: none;
        }

        &[href="https://github.com/travetto"]
        {
          display: none;
        }
      }

      .name {
        font-size: 25px;
      }

      img.logo {
        height: calc(var(--small-header-height) - 4px);
        width: calc(var(--small-header-height) - 4px);
        display: block;
      }

      .actions a {
        padding: 0 0.5rem;
      }
    }

    footer {
      height: auto;
      text-align: center;
      display: block;
      padding: 10px 0;

      > div {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  :host .toolbar a {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
