<div class="header">
  <div class="img"></div>
  <div class="mat-display-4">Travetto</div>
  <div class="mat-display-3">An Interactive Development Framework</div>
</div>
<aside>
  <p>
    <strong>Note</strong>: 2.0.0 has been released with substial improvements, and some major breaking changes.
    <a [routerLink]="['/', 'blog']">Read more</a>
  </p>
</aside>
<div class="content">
  <h1>What is Travetto?</h1>
  <p class="intro">
    Travetto is a Typescript framework for building NodeJS applications. It has a unique
    architecture focused on an interactive development process.
  </p>

  <section class="interactive-development">
    <div>
      <h2>Interactive Coding</h2>
      <p>
        The time between saving your code, and being able to use it is crucial. The longer the
        delay, the slower the development process. Travetto solves this by tightly integrating into
        the underlying frameworks. This tight integration allows for live reloading
        of all code at run time.

        <em>No need to restart your server to see changes applied.</em>
      </p>
    </div>
    <img src="/assets/landing/realtime-routes.gif">
  </section>

  <section class="interactive-testing">
    <div>
      <h2>Interactive Testing</h2>
      <p>
        Testing occurs inline (with VS Code Plugin), on save, giving you instant feedback to your
        unit tests.
        <!-- Screen Cap -->
      </p>
    </div>
    <img src="/assets/landing/testing.png">
  </section>

  <section class="interactive-modeling">
    <div>
      <h2>Interactive Modeling</h2>

      <p>
        Modifications to data model reflect immediately, and where necessary, underlying schemas are
        modified in realtime to support changes.
        <!-- Screen Cap -->
      </p>
    </div>
    <img src="/assets/landing/modeling.png">
  </section>

  <section class="typescript-focused">
    <div>
      <h2>Typescript Focused</h2>
      <p>
        Leverages the rich type information (as well as some fancy AST transformations) to choose
        smarter defaults, and provide more functionality with less code.
        <!-- Screen Cap -->
      </p>
    </div>
    <img src="/assets/landing/ast.png">
  </section>

  <section class="etc">
    <div>
      <h2>Other Standard Application Features</h2>
      <p>
        Like many other frameworks, Travetto provides standard features that developers have come to
        expect: Dependency Injection, Code over Configuration, and many other modules.
        <!-- Screen Cap -->
      </p>
    </div>
    <img src="/assets/landing/other.png">
  </section>
</div>
